.alert-dialog{
    --dlg-content-font-size: 25px;
    --dlg-hf-font-size: 35px;
}
.alert-dialog  .bv-dialog-default-content span{
	display: inline-block;
	font-size: var(--dlg-content-font-size, 12px);
}
.alert-dialog .bv-dialog-default-F [btn=Cancel] {
    opacity: 0;
    cursor: default;
}